@media (max-width: 820px) {
    nav{ 
    }
    .body-head .main-body span::after{
        width: 100%;
        top:14px
    }
    .body-head .main-body span{
        color: #fff;
        font-size: 15px;
        position: relative;
        z-index: 12;
        width: 85%;
        margin-left: auto;
        margin-right: auto;
    }
    .body-head .main-body h5{
        width: 76%;
        margin-right: auto;
        margin-left: auto;
        font-size: 20px;
    }
    .What-we-offer{
        background-image: none;
    }
    .What-we-offer h5 span{
        right: 0px;
        text-align: center;
        margin-bottom: 50px;
        font-size: 35px;
    font-weight: 900;
    }
    .What-we-offer h5::before{
        display: none;
    }
    .What-we-offer h5{
        text-align: center;
    }
    .body-head .main-body a{
        margin: 45px auto;
    }
    .body-head{
        background-position: initial;
        

    }
    .body-head .main-body{
        justify-content: flex-end;
    }
    .body-head .bg-color{
        background:none;

        box-shadow: inset -3px -311px 83px 131px #16203bc2
    }
    .navbar{
        position: relative;
        clip-path: initial;
        z-index: 100;
        text-align: center;
        padding: 10px 40px;
    }
    .logo-sm{
        display: flex;
        align-items: center;
    }
    .navbar-brand{
        display: none;
    }
    .navbar .button-conect{
        justify-content: center;
    }
    .body-head .main-body h2{
        font-size: 36px;

    }
    .body-logo{
        display: none;
    }
    /**<!--strat section two what--->*/
    .title-2 img{
        display: none;
    }
    .title-2 h5 span{
        font-size: 35px;
        font-weight: 900;
        margin: auto;
    }
    .title-2 h5 {
        margin-bottom:50px;
        text-align: center;
    }
    /*start servece*/
    .one-line {
        width: 127px;}
    .two-line span {
        width: 143px;
        
    }
    .title-3 h3 {
        font-size: 35px;
        font-weight: 900;
        margin-right: 12px;
    }

    .serv-body .col-md-4 {
        border-bottom: 1px solid;
        padding-bottom: 8px;
    }
    /**.offer**/
    .offer{
        background-image: none;
    }
    .offer .main-offer {
        width: 100%;
       
        height: 170px;
       
        border-radius: 30px;
        padding: 15px 0;
    }
    .left, .right{
        padding: 0px
    }
    .up-right {
        display: flex;
        padding-bottom: 15px;
        border-bottom: 1px solid #ffffff54;
        margin-bottom: 15px;
    }
    .conection {
        align-items: flex-start;
    }
    .social{
        justify-content: center;
    }
    .footer-end .Saryaksa{
        justify-content: center;
    }
    .owl-nav{
        position: absolute;
        top: 38%;
        width: 100%;
    }
    .owl-prev{
        float: left;
    }
    .owl-prev span{
        font-size: 54px;
        width: 53px;
        display: inline-block;
        height: 67px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0000008f;
        color: #fff;
        border-radius: 44px;
    
    }
    .owl-next{
        text-align: right;
        position: absolute;
        float: right;
        right: 0;
    }
    .owl-next span{
        font-size: 54px;
        width: 53px;
        display: inline-block;
        height: 67px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: #0000008f;
        color: #fff;
        border-radius: 44px;
    
    }
    .down {
        right: 48%;
        top: 100%;
    }
    .ex-end ul li{
        font-size: 16px;
        margin: 0 18px;
    }
    
    /*end carsoul*/
    /*start site loogo nav*/
    .logo-sm h5{
        font-size: 14px;
    }
    .ex-end a{
        width: 240px;
        height: 60px;
    }
    .in input{
        width: 160px;
    }
}
/*media 1080*/
@media (max-width: 1080px) {
    .nav-item {
        padding: 5px 8px;
    }

}

