<!DOCTYPE html>
html(lang="en", dir="rtl")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Saryaksa
        link(rel="stylesheet", href="css/all.min.css")
        link(rel="stylesheet", href="css/bootstrap4.min.css")
        link(rel="stylesheet", href="css/owl.carousel.min.css")
        link(rel="stylesheet", href="css/style.css")
        link(rel="stylesheet", href="css/media.css")
        link(href="./images/SaryaLogo-pdf.png" rel="icon" type="image/gif" sizes="16x16")
    body
        <!--start heading-->
        <nav class="navbar navbar-expand-lg navbar-light bg-light "> 
            .container
                div(class="logo-sm")
                    img(src="images/SaryaLogo-pdf.png", alt="", width="65px")
                    h5 ساريا للخدمات التطويرية
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <i class="fas fa-align-left "></i>
                </button>
                <div class="collapse navbar-collapse  row" id="navbarNav">
                    <ul class="navbar-nav col-md-5">
                    <li class="nav-item ">
                        <a class="nav-link active" href="#">الرئيسية <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">من نحن</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">خدماتنا</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#"> ماذا قالوا عنا</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link " href="#">  اتصل بنا</a>
                    </li>
                    </ul>
                    div(class="logo col-md-3 d-flex")
                        .body-logo
                            <a class="navbar-brand" href="#"><img src="images/SaryaLogo-pdf.png" width="45px"></a>
                            h6 ساريا للخدمات التطويرية
                    div(class="button-conect col-md-4 text-center")
                        <a class="navbar-brand" href="#">ابدأ الأن</a>
                </div>
            
        </nav>
        <!--end nav -->
        div(class="body-head text-md-right text-center")
            .bg-color
                .container
                    div(class="main-body")
                        h2 نضمن لك زيادة الارباح
                        h5 مع المؤسسة الاولى المختصة في تطوير المنشآت الصحية الخاصة
                        span عروض نهاية السنة على اسعار الباقات المتكاملة
                        a(href="https://api.whatsapp.com/message/LYJIDEYHQQAQD1") احصل على خصم 40%
                        div(class="down text-center")
                            <i class="fas fa-angle-down"></i>

        <!--end body-head-->
        <!--start secton one-->
        section(class="What-we-offer text-right")
            div(class="title")
                h5 
                    span ستحصل على
            .container
                div(class="box row")
                    div(class="col-md-4 box-up")
                        div(class="boxing text-center")
                            img(src="images/plan01.png", alt="", srcset="", width="250px")
                            h3 تسويق بما يضمن لك زيادة الارباح
                    div(class="col-md-4 box-up")
                        div(class="boxing text-center")
                            img(src="images/plan-1.svg", alt="", srcset="", width="250px")
                            h3  تخطيط يرسم لك خطوات تطوير متكامله
                    div(class="col-md-4 box-up")
                        div(class="boxing text-center")
                            img(src="images/plan03.svg", alt="", srcset="", width="250px")
                            h3 تدريب يجعل فريقك قادر على تقديم خدمات مميزه
        <!--end section one-->
        <!--strat section two what--->
        div(class="waht-call text-right")
            div(class="title-2")
                h5
                    img(src="images/x-tit.svg" )
                    span ماذا قالو عنا

            div(class="container body-what")
                div(class="owl-carousel owl-theme text-right", dir="ltr")
                    div(class="item")
                        div(class="ig text-right")
                            img(src="images/Group 7.svg", alt="", srcset="", width="55px")
                        div(class="container-item")
                            
                            div(class="body-p")
                                p كان عطائهم اكثربكثير مما توقعته منهم في التخطيط والتنفيذ والنتائج سعدت بالتعامل معهم
                        div(class="menu-item")
                            img(src="images/Bara.jpg", width="70px")
                            h6 د.البراء المهدي@
                            span رئيسقسم الاسنان مجمع الذكير الطبي
                        
                    div(class="item")
                        div(class="ig text-right")
                            img(src="images/Group 7.svg", alt="", srcset="", width="55px")
                        div(class="container-item")
                            
                            div(class="body-p")
                                p فريق عمل ساريا مميز.. صادق .. يؤمن بالشغف و الرساله و يدعم المنشاءة لان تظهرافضل ما لديها استفدت من النقاط اللي وجهوني لها،،فتحوا لي افاق أوسع. حفزوا حبي و شغفي للعمل و أعادوا دفه مسار النجاح الي الطريق الصحيح ممتنه لهم و لوعيهم و لاحترافيتهم
                        div(class="menu-item")
                            img(src="images/Shahd.jpg", width="70px")
                            h6 أ.شهد مراد@
                            span مدير عام مركز شروق الشمس للعلاج الطبيعي التأهيلي
                    div(class="item")
                        div(class="ig text-right")
                            img(src="images/Group 7.svg", alt="", srcset="", width="55px")
                        div(class="container-item")
                            
                            div(class="body-p")
                                p مع ساريا حققنا اعلى الايرادات بخطة تسويقية متميزة وحديثة وذات فاعلية ومواكبة لحياة العمل كل الشكر
                        div(class="menu-item")
                            img(src="images/Alaa.png", width="70px")
                            h6 أ.الاء البشير@
                            span مديرة التسويق عيادات مجمع روضة الاقصى الطبي


        <!--secton 3 serves-->
        div(class="servece text-right")
            .title-3
                div(class="line-up")
                    div(class="one-line")
                    div(class="two-line")
                        span
                        span
                        span
                        span
                        span
                        span
                        span
                        span
                        span
                        span
                h3 خداماتنا
            .container
                div(class="serv-body row text-center")
                    .col-md-4
                        img(src="images/Marketing.svg", alt="", srcset="")
                        h2 تسويقية
                    .col-md-4
                        img(src="images/Training.svg", alt="", srcset="")
                        h2 تدريبية
                    .col-md-4
                        img(src="images/Group 33.svg", alt="", srcset="")
                        h2 إدارية تخطيطية
        <!--END offer-->
        div(class="offer text-center")
            .container
                .main-offer
                    h2 باقاتنا شاملة
                    div(class="baby-offer d-flex")
                        a(href="#", class="right") 
                            img(src="images/support-svg.svg", alt="", srcset="")
                            h6 الدعم الفني
                        a(href="#", class="left") 
                            img(src="images/quality-assurance-svg.svg", alt="", srcset="")
                            h6 ضمان النتائج
                .ex-end
                    ul
                        li نخطط
                        <i class="fas fa-arrow-left"></i>
                        li ننفذ
                        <i class="fas fa-arrow-left"></i>
                        li وانت تحتفل
                    a(href="https://api.whatsapp.com/message/LYJIDEYHQQAQD1") احصل على خصم 40%
        
        <!START offet-->
        <!--start footer-->
        footer
            .container
               .row
                    div(class="col-md-5 up-right text-right")
                        div(class="box-1")
                            h5 المملكة العربية السعودية .. الرياض11322 ، الدائري الشرقي ابراج غرناطة للاعمال البرج أ4 الطابق 1
                        div(class="box-2")
                            ul
                                li <span>الجوال</span> +966115118118
                                li <span>الواتساب</span> +966582202548
                                li <span>الموقع</span> <a href="http://www.saryaksa.com/en">www.saryaksa.com</a>
                                li <span>الايميل</span> <a href="mailto:info@saryaksa.com">info@saryaksa.com</a>
                    div(class="site-logo col-md-2 text-center footer-up-logo")
                        <div class="body-logo">
                            <a class="navbar-brand logo-footer" href="#">
                                <img src="images/SaryaLogo-pdf.png" width="85px">
                            </a>
                            <h6>ساريا للخدمات التطويرية</h6>
                        </div>
                    div(class="conection col-md-5")
                        .text-right
                            h4 اشترك فيساريا الان عبرالايميل
                            h4 يمكنك الان متابعة اخر عروضساريا عبرالايميل
                            
                            div(class="d-flex text-left in" dir="rtl" )
                                button(type="submit") اشتراك
                                input(type="email", name="", placeholder="عنوان الدرس")
        div(class="footer-end" dir="")
            .container
                .row
                    div(class="col-md-3 d-flex social")
                        a(href="#", class="hove face") <i class="fab fa-facebook-f"></i>
                        a(href="#", class="hove inst") <i class="fab fa-instagram"></i>
                        a(href="#", class="hove twiter") <i class="fab fa-twitter"></i>
                        a(href="#", class="hove yout") <i class="fab fa-youtube"></i>
                    div(class="col-md-9 text-left Saryaksa")
                        span © Saryaksa.com 2020

                


                    
                    
                    




        script(src="js/jquery-3.3.1.min.js")
        script(src="js/bootstrap4.min.js")
        script(src="js/owl.carousel.min.js")
        script(src="js/main.js")
